In [3]:
import pandas as pd

# Load dataFrame
STUDENTS = pd.read_csv('Students2.csv')

# A : Write R or Pandas code to de-dup STUDENTS (1pt):

STUDENTS = STUDENTS.drop_duplicates()

# B : Create a data frame COUNTS storing the count of students for each continent, college pair (2pts):

Raw_count = STUDENTS.groupby(['college','continent']).size()
COUNTS = Raw_count.to_frame(name='Count')

# C : Pivot COUNTS so that continent values become column names (2pts)

COUNTS = COUNTS.pivot_table(index='college', columns = 'continent', values = 'Count')

# D : If applicable, remove any unnecessary index levels created in part C (1pts):

# E : Zero-fill missing values in COUNTS (1pt):

COUNTS = COUNTS.fillna(0)

# F : Sort COUNTS reverse alphabetically by college name (1pt): 

COUNTS = COUNTS.sort_values(by='college', ascending=False)

COUNTS # We can observe the output is the same as the desired one

# Actually, we can do step A through F in only one line 
# COUNTS = STUDENTS.drop_duplicates().pivot_table(index='college',columns='continent', values='name', aggfunc='size',fill_value=0).sort_values(by='college', ascending = False)

continent    America  Asia  Europe
college
Lib Arts         1.0   0.0     0.0
Engineering      1.0   1.0     0.0
Business         0.0   0.0     1.0